*{ 
	background-image: url('pikachu.jpg');
	background-repeat: repeat;
	background-size: 30%;
	background-attachment: fixed; 
	background-color:maroon ;
	color: #0000FF;
}

p{
	background-color:#ff000080;
}



